h2 {
    text-decoration: underline;
}

.content {
  display: inline-flex;
}

#header {
  background-color: yellow;
  width: 100%;
  height: 25%;
}

#contact-info {
  background-color: red;
  width: 20%;
  height: auto;
}

#qualifications {
  background-color: blue;
  width: 80%;
  height: auto;
}