h2 {
    text-decoration: underline;
}

body {
  width: 100%;
}

.content {
  display: inline flex;
  width: 100%;
  
}

#header {
  background-color: aqua;
}

#contact-info {
  width: 20%;
  border-right: solid;
  right: -10px;
  background-color: aquamarine
}

#qualifications {
  margin-left: 10px;
  width: 60%;
  background-color: beige;
  
}