h2 {
    text-decoration: underline;
}

body {
  width: 100%;
}

.content {
  display: inline flex;
  width: 100%;
}

#header {
  background-color: yellow;
  
}

#contact-info {
  background-color: red;
  width: 20%;
}

#qualifications {
  background-color: blue;
  width: 80%
}